#version=RHEL6
# Install OS instead of upgrade
install

# Install from an installation tree on a remote server
# Required when using a minimal ISO
url --url=http://mirror.centos.org/centos/6/os/x86_64/

text
poweroff

# System keyboard
keyboard us

# System language
lang en_US

# Setup network interfaces via DHCP
network --device=eth0 --bootproto=dhcp --onboot=yes --activate

# Set repo to mirror.centos.org
repo --name="CentOS" --baseurl=http://mirror.centos.org/centos/6/os/x86_64/ --cost=100
repo --name="Updates" --baseurl=http://mirror.centos.org/centos/6/updates/x86_64/ --cost=100

#set root pw here (required by KS), remove pw in post
rootpw temp
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512
firstboot --disabled

# SELinux configuration
# By default, selinux is enforcing
#selinux --enforcing
selinux --permissive

# Services
services --enabled=ntpd,ntpdate

# Installation logging level
logging --level=debug

# System timezone
timezone  Etc/UTC

# System bootloader configuration
bootloader --location=mbr --driveorder=vda --append="tsc=reliable divider=10 plymouth.enable=0 console=ttyS0"

# Clear the Master Boot Record
zerombr

# Automatically create partitions
autopart

# Partition clearing information
clearpart --all --initlabel

%packages --nobase
@core --nodefaults
acpid
authconfig
iputils
man
ntp
ntpdate
openssh-clients
parted
system-config-firewall-base
vim-enhanced
wget
# Exclude packages that are not needed in a VM image
-*-firmware
-alsa-*
-btrfs-progs*
-microcode_ctl
-plymouth*


%end

%pre
#! /bin/bash

joyent_status=fail
trap 'echo JOYENT_STATUS_PRE=$joyent_status' EXIT

set -ex

cd /tmp
# -F (not -f) so that it starts logging when file appears.
tail -F anaconda.log program.log rpm-script.log storage.log \
    /run/ks.pre.log /run/ks.post01.log /run/ks.post02.log \
    /mnt/sysimage/root/install.log \
    >>/dev/ttyS0 2>&1 </dev/null &
set +x
joyent_status=ok
%end

%post --log=/run/ks.post.log
#!/bin/bash

joyent_status=fail
trap 'echo JOYENT_STATUS_POST=$joyent_status' EXIT

set -ex

mkdir -p /run/install/joyks
mount /dev/disk/by-label/kickstart /run/install/joyks

# Install sdc-vmtools guest tools
echo "Installing SmartOS VM Guest Tools..."

sdcvmtools="/run/install/joyks/sdc-vmtools/src/linux"

cp -r ${sdcvmtools}/lib/smartdc /lib/
cp -r ${sdcvmtools}/usr/sbin/mdata-* /usr/sbin/
cp -r ${sdcvmtools}/usr/share/man/man1/mdata-* /usr/share/man/man1/
ln -s /usr/sbin/mdata-get /lib/smartdc/mdata-get
echo "SmartOS VM Guest Tools installed"

# Remove root password
echo "Removing root password"
passwd -d root

## Build date used for motd and product file
release=$(awk '$0 ~ /CentOS release / { print $3 }' /etc/redhat-release)
if [[ -z "$release" ]]; then
	echo "ks.cfg: failed to determine release" 1>&2
	exit 1
fi
BUILDDATE=$(date +%Y%m%d)
NAME="CentOS $release"
DOCS="https://docs.joyent.com/images/linux/centos"

# Create MOTD
echo "Creating /etc/motd"
mv /etc/motd /etc/motd-backup
cat << MOTD > /etc/motd
   __        .                   .
 _|  |_      | .-. .  . .-. :--. |-
|_    _|     ;|   ||  |(.-' |  | |
  |__|   \`--'  \`-' \`;-| \`-' '  ' \`-'
                   /  ;  Instance ($NAME $BUILDDATE)
                   \`-'   $DOCS

MOTD

# MOTD symlinks
echo "Creating /etc/motd symlinks"
ln -sf /etc/motd /etc/issue
ln -sf /etc/motd /etc/issue.net

# Create product file
echo "Creating /etc/product file"
cat << PRODUCT > /etc/product
Name: Joyent Instance
Image: $NAME $BUILDDATE
Documentation: $DOCS
Description: $NAME 64-bit image with just essential packages installed. Ideal for users who are comfortable with setting up their own environment and tools.
PRODUCT

# Grub
grubconf='serial --unit=0 --speed 115200\nterminal --timeout=2 serial console'
sed -i "s/^hiddenmenu/$grubconf/" /boot/grub/grub.conf

# Make sure we have the latest security updates
echo "Updating packages"
/usr/bin/yum clean all
/usr/bin/yum update -y

# Install Node.js and json via EPEL
/usr/bin/yum install -y epel-release
/usr/bin/yum install -y nodejs npm
# This obsolete version of node lacks proper CA configuration.
# https://bugzilla.redhat.com/show_bug.cgi?id=1562592
/usr/bin/npm config set strict-ssl false
/usr/bin/npm install -g json

# cloud-init requires the following:
#
#   cloud-init		The thing we really want
#   cloud-init-joyent	Performs a version lock to be sure that we don't update
#			to a newer legacy version that doesn't have the Joyent
#			fixes that are required to make the metadata service
#			reliable.
#   pyserial		Needed for the the SmartOS datasource, but not a
#			dependency in the cloud-init rpm.
yum install -y /run/install/joyks/Packages/*.rpm

echo "Configuring cloud-init"
cat <<EOF > /etc/cloud/cloud.cfg.d/90_smartos.cfg
datasource_list: [ SmartOS ]

# Preserve traditional root@<ip> login that was possible with rc.local
disable_root: false

# Do not create the centos/ubuntu/debian user
users: [ ]

mounts:
- [ vdb, /data, auto, "defaults,nofail" ]
EOF

# Clean up all yum caches
echo "Cleaning up yum caches"
/usr/bin/yum clean all

# Clean up network devices
echo "Cleaning up network devices"
/bin/rm -f /etc/udev/rules.d/70-persistent-net.rules
/bin/rm -rf /etc/sysconfig/network-scripts/ifcfg-*
/bin/find /var/lib/dhclient -type f -exec rm -f '{}' +
/bin/rm -f /etc/resolv.conf

# Remove hostname
echo "Clearing out /etc/hostname"
cat /dev/null > /etc/hostname
sed '/HOSTNAME=/d' -i /etc/sysconfig/network

# Tune Linux vm.dirty_background_bytes (IMAGE-439)
# The following tuning causes dirty data to begin to be background flushed at
# 100 Mbytes, so that it writes earlier and more often to avoid a large build
# up and improving overall throughput.
echo "Setting vm.dirty_background_bytes"
echo "vm.dirty_background_bytes=100000000" >> /etc/sysctl.conf

# Disable password auth. SSH logon is via ssh key only. A password is being set
# for root via the image manifest per IMAGE-459.
echo "Disabling password auth in sshd_config"
sed s/PasswordAuthentication\ yes/PasswordAuthentication\ no/ -i /etc/ssh/sshd_config


# Clean up files
echo "Ceaning up build files etc."
/bin/rm -rf /root/anaconda-ks.cfg
/bin/rm -rf /root/install.log
/bin/rm -rf /root/install.log.syslog
/bin/rm -rf /tmp/.npm/
/bin/rm -rf /tmp/ks-script*
/bin/rm -rf /var/log/anaconda*
/bin/rm -rf /var/log/dracut.log

set +x
joyent_status=ok
%end
